<div class="container">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSave()" [formGroup]="crud">
        <div class="form-group">
          <label for="fname"> First Name </label>
          <input
            type="text"
            class="form-control"
            id="fname"
            name="fname"
            [(ngModel)]="this.current_form.fname"
            formControlName="fname"
          />
        </div>
        <div class="form-group">
          <label for="lname"> Last Name </label>
          <input
            type="text"
            class="form-control"
            id="lname"
            name="lname"
            [(ngModel)]="this.current_form.lname"
            formControlName="lname"
          />
        </div>
        <div class="form-group">
          <label for="email"> Email </label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="this.current_form.email"
            formControlName="email"
          />
        </div>
        <div class="form-group">
          <label for="phone"> Phone number </label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            [(ngModel)]="this.current_form.phone"
            formControlName="phone"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!this.crud.valid"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onReset()"
        >
          Reset
        </button>
      </form>
    </div>
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas; index as i">
            <th scope="row">{{ data.id }}</th>
            <td>{{ data.fname }}</td>
            <td>{{ data.lname }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phone }}</td>
            <td>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="onEdit(data)"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDelete(data.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
